body{
	
}
body{
	font-family: 'Lobster Two', cursive;
	color: #B68750;
	margin-top: 0px;
	margin-bottom: 0px;
}
.integral{
	background-image: url(Ressources/img/Background.png);
	background-image: repeat-x;
	height: 955px;
}

.logo img{
	display: inline;
}
.haut_page{
	height: 130px;
}
.img_logo{
	display: inline;
}

.deco_butt {
	margin-left: 1200px;
	background: url("Ressources/img/yellow_logout_butt.png");
	width: 210px;
	height: 69px;
	border-radius: 40px;
	margin-top: -30px;
	border: none;
}

.help{
	display: inline-block;
}

.welcome{

	width: 1081px;
	height: 773px;
	margin: auto;
	position: relative;
}
#background_before{
	background-image: url(Ressources/img/before.png);
}
#background_index{
	background-image: url(Ressources/img/welcome.png);
}
#background_login{
	background-image: url(Ressources/img/login.png);
}
#background_create{
	background-image: url(Ressources/img/compte.png);
}
#background_rank{
	background-image: url(Ressources/img/ranking.png);
}
#background_menu{
	background-image: url(Ressources/img/menu.png);
}



.welcome_pad{
	padding-top:100px;
}
.welcome_para{
	margin: auto;
	padding: 120px 50px 30px 50px;
	text-align: center;
	font-size: 55px;
}

.next_butt{
	padding-left: 900px;
}
.next_butt img{
	box-shadow: 0 0 25px 2px #B68750;
	border-radius: 40px;
}
.next_butt:hover{
	opacity: 0.5;
}
.next_butt:hover img{
	box-shadow: 0px 0px 0px 0px;
}


.next_back_butt{
	padding-left: 65px;
}
/********************************************************/

.liste_acceuil{

	padding-top: 210px;
	list-style-type: none;
	text-align: center;
	font-size: 55px;
}


#login_liste_acceuil{
	border-top: 1px solid #B68750;
}
.liste_acceuil li{
	padding: 15px 10px 15px 10px;
	border-bottom: solid 1px #B68750;
	margin: auto;
	width: 600px;
}
.liste_acceuil a{
	text-decoration: none;
	color: #B68750;
}

.liste_acceuil li:hover{
	background-color: #B68750;
	transition: 0.45s linear;
	
}
.liste_acceuil li:hover {
	color: #F8E8B0;
	transition: 0.45s linear;
}
.back_butt{
	margin-left: 80px;


}
.back_butt img{

	box-shadow: 0 0 25px 2px #B68750;
	border-radius: 40px;
}
.back_butt img:hover{
	
}

.back_butt:hover{
	opacity: 0.5;
}
.back_butt:hover img{
	box-shadow: 0px 0px 0px 0px;
}

/********************************************************/

.espace_login{
	padding-top: 100px;
	margin: auto;
	font-size: 35px;
}
.new_compte{
	margin: auto;
	width: 472px;
	margin-top: 20px;
	padding-bottom: 0px;
	padding-top: 104px;
}
.form_compte{
	margin: auto;
}
.title_login{
	text-align: center;
}

.form_compte input{
	margin: auto;
	display: block;
	background: none;
	border: 1px solid #B68750;
	border-radius: 20px;
	margin-bottom: 50px;
}
.form_compte input[type="text"], input[type="password"], input[type="email"]{
padding-left: 20px;
color: #B68750;
font-size: 35px;
height: 80px;
width: 480px;
box-shadow: 0 0 15px 2px;
}


.form_compte input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
	background-color: #B68750;
	color: #F8E8B0;
}


input::-webkit-input-placeholder{
	color: #B68750;
}
input:focus::-webkit-input-placeholder{
	color:#F8E8B0;
}

.form_compte input[type="password"], input[type="email"], input[type="text"],  select{
	outline:none;
}

.form_compte input[type="submit"]{
	cursor: pointer;
	width: 210px;
	height: 70px;
	border: none;
	
}

.form_creation_compte input[type="submit"]{
	margin-left: 70px;
	background: url("Ressources/img/create.png");
}
.form_login input[type="submit"]{

	margin-left: 70px;
	background: url("Ressources/img/login_butt.png");
}


.back_butt_login{
	margin-left: 0px;
}
.back_butt_login:hover{
	opacity: 0.5;
}
.back_butt_login img{
	box-shadow: 0 0 25px 2px #B68750;
	border-radius: 40px;
}
.back_butt_login:hover img{
	box-shadow: 0px 0px 0px 0px;
}



.back_butt_block{
	margin: auto;
	height: 68px;
	width: 360px;
}
.back_butt_block input{
	display: inline-block;
	border-radius: 20px;
	box-shadow: 0 0 25px 2px #B68750;
}
.back_butt_block input:hover{
	box-shadow: 0 0 0 0;
	opacity: 0.5;
}

/********************************************************/


.mauvais_mdp{
	padding-top: 8px;
	width: 230px;
	margin: auto;
	color: red;
	font-size: 25px;
}
.mauvais_log{
	padding-top: 10px;
	color: red;
	width: 380px;
	margin: auto;
}


/*********************************************************/


.classement_tableau{
	margin: auto;
	padding-top: 100px
}
.haut_tableau{
	font-size: 30px;
	height: 90px;
}

.ligne_tableau{
	font-size: 25px;
	height: 50px;
}

.classement_tableau th{
	width: 300px;
}
.tableau{
	height: 670px;
}
 #back_rank{
	margin-left: 70px;
}


/**********************************************************/

.entour_menu{
	margin: auto;
	padding-top: 140px;
	height: 645px;
	width: 1020px;
}


#create_game{
	font-size: 80px;
	margin-top: 75px;
	margin-left: 20px;
	text-decoration: none;
	padding: 30px 280px 30px 275px;
	color: #B68750;
	background-color: #faeec7;
	border: 3px solid #B68750;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
}

#create_game:hover{
	background-color: #B68750;
	color: #faeec7;
}

#previous_game{
	display: inline;
	word-wrap: break-word;
	font-size: 50px;
	margin-left: 20px;
	text-align: center;
	width: 400px;
	height: 200px;
	margin-top: 50px;
	margin-right: 170px;
	padding-top: 40px;
	padding-bottom: 51px;
	text-decoration: none;
	color: #B68750;
	border: 3px solid #B68750;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	background-color: #faeec7;
}
#previous_game:hover{
	background-color: #B68750;
	color: #faeec7;
}

#running_games{
	font-size: 80px;
	text-decoration: none;
	float: right;
	width: 400px;
	text-align: center;
	margin-top: 55px;
	margin-right: 18px;
	margin-bottom: 10px;
	padding-top: 50px;
	padding-bottom: 37px;
	color: #B68750;
	border: 3px solid #B68750;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	background-color: #faeec7;
}

#running_games:hover{
	background-color: #B68750;
	color: #faeec7;

}

#join_game{
	font-size: 80px;
	text-decoration: none;
	margin-top: 50px;
	margin-left: 250px;
}