body{
	font-family: 'Lobster Two', cursive;
	color: #B68750;
	margin-top: 0px;
	margin-bottom: 0px;
}
.integral{
	background-image: url(Ressources/img/Background.png);
	background-image: repeat-x;
	height: 955px;
}
.logo img{
	display: inline-block;
}
.haut_page{
	height: 130px;
}
.img_logo{
	display: inline-block;
}
.deco_butt {
	background: url("Ressources/img/yellow_logout_butt.png");
	width: 210px;
	height: 69px;
	border-radius: 40px;
	border: none;
	display: inline-block;
	float:right;
	margin-right: 50px;
	margin-top: -105px;
}
.deco_butt:hover{
	cursor: pointer;
}
.welcome{
	width: 1081px;
	height: 773px;
	margin: auto;
	position: relative;
}
#background_before{
	background-image: url(Ressources/img/before.png);
}
#background_index{
	background-image: url(Ressources/img/welcome.png);
}
#background_login{
	background-image: url(Ressources/img/login.png);
}
#background_create{
	background-image: url(Ressources/img/compte.png);
}
#background_rank{
	background-image: url(Ressources/img/ranking.png);
}
#background_menu{
	background-image: url(Ressources/img/menu.png);
}
#background_rules{
	background-image: url(Ressources/img/rules.png);
}
#background_create_game{
	background-image: url(Ressources/img/create_game.png);
}
.centrerrulestop{
	padding-top: 90px;
	width:980px;
	padding-left: 50px;
	font-size: 20px;
}
.centrerrulesbot{
	width:700px;
	padding-left: 50px;
	font-size: 20px;
}

.welcome_pad{
	padding-top:100px;
}
.welcome_para{
	margin: auto;
	padding: 120px 50px 30px 50px;
	text-align: center;
	font-size: 55px;
}
.next_butt{
	padding-left: 900px;
}
.next_butt img{
	box-shadow: 0 0 25px 2px #B68750;
	border-radius: 40px;
}
.next_butt:hover{
	opacity: 0.5;
}
.next_butt:hover img{
	box-shadow: 0px 0px 0px 0px;
}
.next_back_butt{
	padding-left: 65px;
}
/**accueil**/

.liste_acceuil{
	margin-top: 0px;
	padding-top: 210px;
	list-style-type: none;
	text-align: center;
	font-size: 55px;
}
.liste_acceuil a{
	display: inline-block;
	margin: auto
}
#login_liste_acceuil{
	border-top: 1px solid #B68750;
}
.liste_acceuil li{
	padding: 15px 10px 15px 10px;
	border-bottom: solid 1px #B68750;
	margin: auto;
	width: 600px;
}
.liste_acceuil a{
	text-decoration: none;
	color: #B68750;
}
.liste_acceuil li:hover{
	background-color: #B68750;
	transition: 0.45s linear;
}
.liste_acceuil li:hover {
	color: #F8E8B0;
	transition: 0.45s linear;
}
.back_butt{
	margin-left: 80px;
}
.back_butt img{
	box-shadow: 0 0 25px 2px #B68750;
	border-radius: 40px;
}
.back_butt:hover{
	opacity: 0.5;
}
.back_butt:hover img{
	box-shadow: 0px 0px 0px 0px;
}

/**Creation compte**/

.espace_login{
	padding-top: 100px;
	margin: auto;
	font-size: 35px;
}
.new_compte{
	margin: auto;
	width: 472px;
	margin-top: 20px;
	padding-bottom: 0px;
	padding-top: 114px;
}
.form_compte{
	margin: auto;
}
.title_login{
	text-align: center;
}
.form_compte input{
	margin: auto;
	display: block;
	background: none;
	border: 1px solid #B68750;
	border-radius: 20px;
	margin-bottom: 50px;
}
.form_compte input[type="text"], input[type="password"], input[type="email"]{
padding-left: 20px;
color: #B68750;
font-size: 35px;
height: 80px;
width: 480px;
box-shadow: 0 0 15px 2px;
}
.form_compte input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
	background-color: #B68750;
	color: #F8E8B0;
}
input::-webkit-input-placeholder{
	color: #B68750;
}
input:focus::-webkit-input-placeholder{
	color:#F8E8B0;
}
.form_compte input[type="password"], input[type="email"], input[type="text"],  select{
	outline:none;
}
.form_compte input[type="submit"]{
	cursor: pointer;
	width: 210px;
	height: 70px;
	border: none;
}

.form_creation_compte input[type="submit"]{
	margin-left: 70px;
	background: url("Ressources/img/create.png");
}
.form_login input[type="submit"]{
	margin-left: 70px;
	background: url("Ressources/img/login_butt.png");
}
.back_butt_login{
	margin-left: 0px;
}
.back_butt_login:hover{
	opacity: 0.5;
}
.back_butt_login img{
	box-shadow: 0 0 25px 2px #B68750;
	border-radius: 40px;
}
.back_butt_login:hover img{
	box-shadow: 0px 0px 0px 0px;
}

.back_butt_block{
	margin: auto;
	height: 68px;
	width: 360px;
}
.back_butt_block input{
	display: inline-block;
	border-radius: 20px;
	box-shadow: 0 0 25px 2px #B68750;
}
.back_butt_block input:hover{
	box-shadow: 0 0 0 0;
	opacity: 0.5;
}

/**mot de passe**/

.mauvais_mdp{
	padding-top: 0px;
	width: 500px;
	margin: auto;
	color: red;
	font-size: 25px;
}
.mauvais_log{
	padding-top: 10px;
	color: red;
	width: 380px;
	margin: auto;
}

/**Classement**/


.classement_tableau{
	margin: auto;
	padding-top: 100px
}
.haut_tableau{
	font-size: 30px;
	height: 90px;
}
.ligne_tableau{
	font-size: 25px;
	height: 50px;
}
.classement_tableau th{
	width: 300px;
}
.tableau{
	height: 670px;
}
 #back_rank{
	margin-left: 70px;
}


/**Menu game**/

.entour_menu{
	margin: auto;
	padding-top: 110px;
	height: 645px;
	width: 1020px;
}
#create_game{
	display: inline-block;
	font-size: 80px;
	text-align: center;
	margin-left: 20px;
	text-decoration: none;
	width:976px;
	height:115px;
	padding-top: 15px;
	color: #B68750;
	background-color: #faeec7;
	border: 3px solid #B68750;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	border-radius: 35px;
}
#create_game:hover{
	background-color: #B68750;
	color: #faeec7;
}
.taillecube{
	margin-top: 10px;
	padding-top: 25px;
	width:350px;
	height:277px;
	margin-left: 20px;
	display: inline-block;
	font-size: 60px;
	border: 3px solid #B68750;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	background: #faeec7;
	text-decoration: none;
	border-radius: 35px;
}
#previous_game{
	color: #B68750;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}
.taillecube:hover{
	background-color: #B68750;
}
.taillecube:hover #previous_game{
	color: #faeec7;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
}
.taillecube2{
	margin-top: 10px;
	float:right;
	margin-right: 19px;
	padding-top: 25px;
	width:350px;
	height:277px;
	margin-left: 20px;
	display: inline-block;
	font-size: 60px;
	border: 3px solid #B68750;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	background: #faeec7;
	text-decoration: none;
	border-radius: 35px;
	margin-bottom: 10px;
}
.taillecube2:hover{
	background-color: #B68750;
}
.taillecube2:hover #running_games{
	color: #faeec7;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
}
#running_games{
	color: #B68750;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}
#join_game{
	font-size: 80px;
	text-decoration: none;
	margin-top: 50px;
	margin-left: 250px;
}
.biduleachanger{
	display: block;
	width: 400px;
	height:200px;
	background-color: red;
	border: 3px solid #B68750;
}
#test{
	text-decoration: none;
	text-align: center;
}
/**Rules**/
.butt_rules{
	margin-left: 0px;
}
.butt_rules:hover{
	opacity: 0.5;
}
.butt_rules img{
	box-shadow: 0 0 25px 2px #B68750;
	border-radius: 40px;
}
.butt_rules:hover img{
	box-shadow: 0px 0px 0px 0px;
}
.back_butt_rules{
	height: 68px;
	width: 360px;
	padding-left: 80px;
	padding-top: 55px;
}
/**Create a game**/
.create_game input[type="text"]{
	display: block;
	margin: auto;
}
.create_game input[type="checkbox"]{
	width: 50px;
	height: 50px;
}
.create_game{
	padding-top: 100px;
	font-size: 80px;
}