body{
	font-family: 'Lobster Two', cursive;
}
body{
	margin-top: 0px;
	margin-bottom: 0px;
}
.integral{
	background-image: url(Ressources/img/Background.png);
	margin: auto;
	width: 800px;
	height: 955px;
}

.logo{
	padding-top: 20px;
	display: inline-block;
}

.help{
	display: inline-block;
}

.welcome{
	padding-top: 50px;
	padding-left: 150px;
	position: relative;
}

.welcome div{
	position: absolute;
	padding-top: 100px;
}
.welcome_para{
	margin-left: 60px;
	margin-right: 230px;
	color: black;
	font-size: 25px;
}

#welcome_next_butt{
	padding-left: 200px;
}
#welcome_next_butt:hover{
	opacity: 0.8;
}
